name: not_static_icons
description: "Beautifully crafted animated icons for Flutter"
version: 0.0.2
homepage: https://github.com/khlebobul/not_static_icons

environment:
  sdk: '>=3.2.2 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0