name: not_static_icons_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.29+30

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  not_static_icons:
    path: ../
  url_launcher: ^6.3.2
  flutter_svg: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/

  fonts:
  - family: JetBrainsMono
    fonts:
      - asset: assets/fonts/JetBrainsMono-Regular.ttf
        weight: 400
